body {
  padding-top: 70px;
}

img {
  width: 100%;
}

.banner {
  border: 2px solid #e272a9;
  border-radius: 10px;
}

.no_first {
  margin-top: 40px;
}
#carousel, #carousel .item {
  height: 360px;
}

.section_bg {
  position: relative;
}


.section_bg .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.6;
}

.section_bg .overlay article {
  padding-top: 200px;
  text-align: center;
  color: #FFF;
  text-shadow: 2px 2px #444;
  opacity: 1;
}

tfoot tr td {
  vertical-align: middle !important;
}

#reply_list {
  border-radius: 5px;
  border: 3px solid #ddd;
  margin-top: 30px;
}

.notice_bg {
  background-color: #959595 !important;
  color: #FFFFFF;
  font-weight: bold;
}
.notice_bg a {
  color: #FFFFFF;
}

.navbar-nav .label {
  margin-right: 5px;
}

.navbar-right li:first-child a {
  font-weight: bold;
}
